a, a:visited
{
color:white;
background-color:black;
border-color:white;
position:absolute;
padding:15px;
text-decoration:none;
}
a:hover
{
color:black;
background-color:white;
border-color:white;
position:absolute;
padding:15px;
text-decoration:none;
}
.menu
{
position:absolute;
left:8%;
}
.menu1
{
position:absolute;
left:15.5%;
}
.menu2
{
position:absolute;
left:83.6%;
}
.menu3
{
position:absolute;
left:88.75%;
}
.menu4
{
position:absolute;
left:94%;
}